.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    color: #FFFFFF;

    &_promo {
        font-size: 64px;
    }

    &_info {
        font-size: 48px;
    }
}