@import "./mixins/font-face";
@import "fonts";
@import "button";
@import "title";
@import "promo";
@import "header";


*{
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
